body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.clac {
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
input {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  outline: none;
}
.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

button {
  font-size: 3rem;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
.oprateor {
  background-color: orange;
}
.oprateor:hover {
  background-color: hsl(39, 100%, 65%);
}
.oprateor:active {
  background-color: hsl(39, 100%, 75%);
}
@media (max-width: 767px) {
  body {
    min-height: 70vh;
    min-width: 50vh;
  }
  button {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }
  input {
    font-size: 2rem;
    padding: 20px;
  }
  .box {
    gap: 5px;
    padding: 10px;
  }
  .clac {
    border-radius: 0;
    max-width: 300px;
  }
}
